/* Note that this is JavaFX CSS */

.root {
    -fx-font-family: "Arial";
    -fx-base: rgb(50, 50, 50);
}

JFXButton {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-font-size: 17;
}

ImageView {
    -fx-background-color: transparent;
}

VBox {
    -fx-background-color: #1E3050;
}

ProgressBar {
    -fx-accent: #00ff00;
}

Label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 24;
}

JFXToggleButton {
    -fx-text-fill: #ffffff;
    -fx-font-size: 16;
}